
<h2 style="text-align: center;">Pruebas Mostrando imagenes</h2>
<figure class="container">
    <img src="assets/images/kickboxer.jpg" alt="" width="350" height="450">
    <img src="assets/images/never_back_down.webp" alt="" width="350" height="450">
    <img src="assets/images/ragnarok.jpg" alt="" width="380" height="450">
</figure>

<br>
<h2 style="text-align: center;">Pruebas Mostrando Musica</h2>

<ul class="container">
    <li>
        <p>Linkin Park - Numb</p>    
        <audio controls src="assets/music/Numb_Official_Linkin_Park.mp3" type="audio/mpeg"></audio>
    </li>
    <li>
        <p>Dante-Encerrado</p>    
        <audio controls src="assets/music/DANTE-ENCERRADO_160k.mp3" type="audio/mpeg"></audio>
    </li>
    <li>
        <p>Subze - Tormenta</p>    
        <audio controls src="assets/music/Subze-Tormenta.mp3" type="audio/mpeg"></audio>
    </li>
</ul>            
        
<br>
<h2 style="text-align: center;">Pruebas Mostrando Video</h2>
<video class="container" controls src="assets/video/video1.mkv"></video>
 <br>
 <br><br>
<div class="container">
    
<span>{{inputMessage}}</span>
interpolacion vaas aa tener ellementoss publicoss 
<input type="text" name="" (input)=" input($event)" id="">
<button [disabled]="disableButton" (click)="clickEvent()">guardar datoss</button>
</div>