<div class="container">
    <header class="grid-menu">
        <nav class="menu">
            <ul class="menu ul">
                <li class="menu-ul_item">Dashboard</li>
                <li class="menu-ul_item">Products</li>
                <li class="menu-ul_item">Ventas</li>
            </ul>
        </nav>
    </header>
    <section class="grid-header">
        <header class="header">
            <div>
                <label  class="header_title">Hola Alexander
                    <p class="header_hour">4:455 pm</p>
                </label>
            </div>
            <div class="header_user">
                <img src="" alt="" srcset="">
            </div>
        </header>
    </section>
</div>